#main-content .hastable thead td:nth-child(1)
{
	width:350px;
}
#main-content .hastable tbody td:nth-child(2)
{
	width:100px;
	text-align:center;
}
#main-content .hastable tbody td:nth-child(3)
{
	width:100px;
	text-align:center;
}
#main-content .hastable thead td:nth-child(4)
{
	width:150px;
}
#main-content .hastable tbody td span
{
  background: #ddd;
  width: 100%;
  display: block;
  line-height: 18px;
  font-weight: bold;
}
#main-content .hastable tbody tr.status1
{
	background: #CDFEFF;
}

#main-content .hastable tbody tr.status-1{
	background: #FFCECD;
}