#main-content .hastable thead td:nth-child(5)
{
	width:350px;
}

#main-content .hastable tbody td:nth-child(2)
{
	text-align:center;
}
#main-content .hastable tbody td:nth-child(3)
{
	text-align:center;
}
#main-content .hastable tbody td:nth-child(4)
{
	text-align:center;
}

span.off {
	text-decoration: line-through;
}
