#app{
  width: 600px;
  display: block;
  margin-left: -300px;
  margin-top: -3px;
  position: absolute;
  left: 50%;
}
#icon_vcube5{
	display:none;
  background: url(../images/icon_vcube5.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  padding-left: 40px;
  font-size: 2em;
  line-height: 1.3em;
}