<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-Hant-TW">
<head>
<title><{$smarty.const.TITLE}></title>
<meta name="viewport" content="width=device-width" />
<script src="<{$smarty.const.WEB_URL}>/scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="<{$smarty.const.WEB_URL}>/scripts/loader.class.js" type="text/javascript"></script>
<script src="<{$smarty.const.WEB_URL}>/scripts/loader_regist.js" type="text/javascript"></script>
<script src="<{$smarty.const.WEB_URL}>/scripts/regist_step3.js" type="text/javascript"></script>

<link type="text/css" href="<{$smarty.const.WEB_URL}>/images/desktop/style.css" rel="stylesheet" />
<link type="text/css" href="<{$smarty.const.WEB_URL}>/hosts/config.css" rel="stylesheet" />
<script type="text/javascript">
var uid=0;
var bs_id=0;
var web_url = '<{$smarty.const.WEB_URL}>';
</script>
</head>
<body>
	<{$header_html}>
  <div id="body" class="mode_bookshelf">
      <div id="header"></div>

      <div id="bookshelf">
      	<br /><br /><br /><br />
      	<div class="window">
      		<div class="head regist-step3"></div>
      		<div class="content">
						<{$smarty.const.LANG_ACTIVECODE_STEP3_CAPTION}>
						<br /><br />
						<a class="ios" target="appdownload" href="https://itunes.apple.com/tw/app/l-net-xue-yuan/id1110621293?l=zh&mt=8"></a>
						<a class="android" target="appdownload" href="https://play.google.com/store/apps/details?id=com.ttii.lnet" target="android"></a>
						<br /><br />
						<center>
							<{if $smarty.session._device=="mobile"}>
							<input type="button" onclick="document.location.href='/logout'" value="<{$smarty.const.LANG_ACTIVECODE_BTN_LOGOUTAGAIN}>" />
							<{else}>
								<input id="userlist" type="button" onclick="document.location.href='<{$path}>'" value="<{$smarty.const.LANG_ACTIVECODE_BTN_ENTER_USERBS}>" 
							<{/if}>
						</center>
      		</div>
      	</div>
      </div>
      <div id="footer">
      	<{$smarty.const.FOOTER_TEXT}>
      </div>
  </div>
</body>
</html>