<html>
	<head>
		<title></title>
		<script src="<{$smarty.const.WEB_URL}>/scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="<{$smarty.const.WEB_URL}>/scripts/loader.class.js" type="text/javascript"></script>
		<script src="<{$smarty.const.WEB_URL}>/scripts/loader_curriculum.js" type="text/javascript"></script>
		<script src="<{$smarty.const.WEB_URL}>/plugin/meeting/scripts/loader_user.js" type="text/javascript"></script>
		<link type="text/css" href="<{$smarty.const.WEB_URL}>/images/desktop/style.css" rel="stylesheet" />
<script type="text/javascript">
var bs_id = <{$bsid}>;
var uid = <{$uid}>;
var web_url = '<{$smarty.const.WEB_URL}>';
</script>
	</head>
	<body>
		<div id="main-content">
			<h1>School Timetable</h1>
			<div id="app">
				<a target="_blank" id="icon_vcube5">Download</a>
			</div>
			<div id="curriculum"></div>
		</div>
	</body>
</html>