<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-Hant-TW">
<head>
<title><{$smarty.const.TITLE}></title>
<meta name="viewport" content="width=device-width" />
<style>
html{
	height: 100%;
}
body{
  padding: 0px;
  margin: 0px;
  background: url(../images/ebooksearch_bg.png);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#body .content{
	background-color: #fff;
  text-align: center;
  margin: 200px auto;
  width: 500px;
  border: solid 5px #666;
}
</style>
</head>
<body>
  <div id="body" class="mode_bookshelf">
		<div class="content">
			<br /><br /><br /><br /><br /><br /><br /><br />
			您的帳號已經登出，請重新登入。<br />
			若是您一直被登出，請您清除cookies後，再重新登入。
			<br /><br /><br /><br /><br /><br /><br /><br />
		</div>
  </div>
</body>
</html>
