@charset "Shift_JIS";

/*-------------------------------------------------------------------
	IDENTIFICATION DIVISION.
	Version.					1.4.1.2;
	Author.					Kenta Aga(admin)
	Aptx.						4.8.6.9;

	PROGRAM-ID.		"コンポーネント"
-------------------------------------------------------------------*/

/*************************************
	DATA DIVISION.
	WORKING-STRAGE SECTION.
*************************************/
/*------------------------------------------------
	共通設定 - COMMON SETTING
------------------------------------------------*/


/*	画像のアレ
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.descriptionImage{
	float								: right;
	margin-left					: 34px;
}

.photo{
	float								: right;
	display							: inline;
	margin-left					: 30px;
}


/*	画像に対してセンタリング
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.centering{
	clear								: both;
	margin-bottom				: 24px;
}

.centering p{
	margin								: 0;
	display								: table-cell;
	vertical-align						: middle;
}

/* for IE 6 */
* html .centering p{
	display								: inline;
	zoom									: 1;
}
/* for IE7 */
*:first-child+html .centering p{
	display								: inline;
	zoom									: 1;
}
.centering p.image{
	padding-right					: 20px;
}


/*	簡易マウスオーバー
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.mouse-over a:hover img,
.mouse-over:hover img,
#header #subNavigation a:hover img,
#header h1 a:hover img,
#sub a:hover img,
#sitemap a:hover img,
.pagetop a:hover img,
p.print a:hover img{
	filter								: alpha(opacity=85);
	-moz-opacity				: 0.85;
	opacity							: 0.85;
}


/* 送信フォーム
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.submitArea{
	margin:15px 0;
	text-align:center;
}

.submitArea img,
.submitArea input{
	vertical-align:bottom;
}

/* エラー
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.warning{
	color:#FF0000;
	font-size:92%;
	display:none;
}
